@import 'src/variables.scss';

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 48px;
  flex: 60%;
}

.user {
  text-align: left;
}

.name {
  @include h1;
}

.date {
  @include h5;
  text-align: right;
  color: var(--text-mode);
}

.login {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--azure);
}

@media (max-width: $tablet) {
  .main {
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0;
    margin-top: 52px;
  }
}

@media (max-width: $mobile) {
  .main {
    margin-top: 32px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
  }

  .login {
    font-size: 13px;
    line-height: 19px;
  }

  .date {
    font-size: 13px;
    line-height: 19px;
  }
}