@import "src/variables.scss";

.main {
  background: var(--background);
  border-radius: 10px;
  margin-top: 32px;
  margin-right: 48px;
  height: 85px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 100%;
  margin-left: 202px;
}

.stat {
  text-align: left;

  &Title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;

    color: var(--text-secondary);
  }

  &Value {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;

    color: var(--text-primary);
  }
}

@media (max-width: $tablet) {
  .main {
    margin: 8px 40px;
  }
}

@media (max-width: $mobile) {
  .main {
    margin: 23px 24px 0 24px
  }
}
