@import "src/variables.scss";

.main {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: var(--text-secondary);

  flex: 50%;
  text-align: left;
  display: flex;

  a {
    text-decoration: none;
    color: var(--text-secondary);

    &:hover {
      text-decoration: underline;
    }
  }
}

.img {
  margin-right: 16px;
}

.notAvailable {
  opacity: 0.5;
}